@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    src: local('Calibri Bold'), local('Calibri-Bold'), url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9_pxqHw&skey=cd2dd6afe6bf0eb2&v=v10) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    box-sizing: border-box;
}
.content{

    height: 100%;
    position: relative;
}
body{

    margin: 0 auto;
}
.grenze{

    width: 80%;
    margin: auto;
    background-color: #000fff;
}
.header{

    margin: auto;
    height: 90px;
    width: 80%;
    background-color: #43b1d2;

}
.main_head{

    background-color: #43b1d2;

}
.container{

    margin: 0 auto;
    max-width: 1200px;
}
.container_home{

    width: 98%;
    height: 100%;
    display: flex;
    position: relative;
}
.header_logo{

    display: flex;
    width: 25%;
    height: 100%;
    position: relative;
    padding-top: 10px;
}
.header_logo a{

    text-decoration: none;
    text-align: center;
    color: white;


}
.header_logo_center{

    padding-top: 13px;

}
.menu_header{

    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.phone_logo{

    display: flex;
    flex-direction: row;
    height: 17px;
    width: 25%;
    padding-left: 50em;

}
.phone_logo p{

    width: 100%;
    padding-top: 2px;
    color: white;
    font-size: 16px;
    font-family: Tahoma;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_list{

    display: flex;
    height: 55%;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Calibri;

}
a{
    background-color: transparent;
    cursor: pointer;
}
.menu_item{

    margin-left: 12px;
}
.menu_link{

    text-decoration: none;
    /*font-family: loto;*/
    font-size: 17px;
    color: #494848;
    transition: all 0.4s;

}
.menu_link_main{

    color: white;
}
.menu_link:hover{

    color: #000fff;
}
.preview{

    background-color: #cbd4e6;
}

.preview_nav{

    display: flex;
    height: 507.84px;
    background-color: #cbd4e6;
    flex-direction: row;
    background-image: url("img/mrt_nav_preview_logo.png");
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
}
.preview_nav img{

    max-width: 100%;
    padding-left: 80px;

}
.preview_nav_text{

    width: 60%;
    padding-top: 50px;
    display: flex;
    font-family: Lato;
    font-size: 20px;
    color: #555557;
    flex-direction: column;
    text-align: right;


}
.preview_nav_text_b{

    text-align: right;
    font-size: 28px;
}
.preview_nav_text_phone{

    display: flex;
    height: 40px;
    padding-top: 17px;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;

}
.preview_nav_text_phone_button{

    background-color: #cbd4e6;
    color: #8b758e;
    border: 1px solid #8b758e;
    border-radius: 2px;

}
.preview_nav_text span{

    padding-top: 30px;
}
.main_part{


    display: flex;
    width: 80%;
    margin: auto;
    background-color: #494848;
    height: 100px;
}
.main_part_block{

    display: flex;
    flex-direction: row;
    margin: auto;
}
.main_part_block p{

    color: white;
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
}
.first_blog{

    background-color: #43b1d2;
    height: 300px;
    width: 25%;
}
.main_blog_img{

  text-align: center;
  padding-top: 40px;
}
.blog_undertext{

    color: white;
    font-family: Calibri;
    text-align: center;
    width: 60%;
    margin: auto;
}
.second_blog{

    background-color: #3fb6c6;
    height: 300px;
    width: 25%;

}
.second_blog_img{

    padding-left: 127px;
    padding-top: 30px;
}
.third_blog{

    background-color: #3cbbbb;
    height: 300px;
    width: 25%;
}
.third_blog_img {

    padding-left: 127px;
    padding-top: 30px;

}
.fourth_blog {

    background-color: #37c3a8;
    height: 300px;
    width: 25%;
}
.info_blog_main{

    width: 80%;
    margin: auto;
    background-color: #000fff;

}